@media  screen and (max-width: 770px){

    .wrapper{
        width: 768px;
        margin: 32px 24px;
    }

    .card{
        justify-content: flex-start;
    }

    img{
        width: 218px;
        height: 164px;
    }

    h2{
        width: 218px;
    }
}